@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/MainLayout.cshtml";

}
<div class="container text-center p-5 mt-5 mb-lg-5">
    @Html.Partial("UserPartial") <!-- Đoạn mã hiển thị thông tin người dùng -->

    <p class="text-danger">Chưa có sản phẩm nào cả</p>
    <img src="https://nhanhieuquocgia.com.vn/assets/images/no-cart.png" alt="Trang giỏ hàng trên websiteNTMARTEX" class="img-fluid mx-auto" />
</div>