
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2>Welcome to the Admin Dashboard</h2>
    <p>This is the main page of your admin panel. You can customize this content to display important information or quick links.</p>


</div>
