@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <h2 class="text-center mt-4">ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC ĐẶT THÀNH CÔNG</h2>
</div>
